html{
	background:#dbdbdb;	
}

body{
	font:15px Calibri,Arial,sans-serif;
	border:1px solid transparent;
	margin:30px;
	padding:0px;
	color:black;
}

hr {
    width:400px;
    color: white;
    float:left;
}

h2 {
	
color:red;
	
}

h3 {	
color:green;
}

#day{
color:blue;
font-size:22px;
}

#season{
color:red;
font-size:20px;
}

#btn{
    background-color: appworkspace; 
    float:right;
    width:25px;
    margin:0px;
    padding:0px;
    height:22px;
}

#inp{
    width:80px;
}

#val{
    float: left;
    margin-top:10px;
}

#category{
color:orange;
font-size:18px;
}

table{
width:840px;
}

table,td,tr {
border: 1px solid #145AA7;

}

table td{
padding-left: 5px;
}

#menu_hr{
    width:130px;
    margin-left: 10px;
    margin-right: 10px;
}

#kol{
text-align: center;
}

.main{
border-right:3px solid white;
width:850px;
}

.item2{
	display: inline-block;
	position:absolute;
	left:885px;
	margin-right:30px;
	margin-top:10px;
    border-left:3px solid white;
}

.item{
	display: inline-block;
	position:absolute;
	left:885px;
    top:60px;
	margin-right:30px;
}

.item .delete{
	background:url('../img/delete_icon.png')  no-repeat;
	width:45px;
	height:45px;
	cursor:pointer;
	position:absolute;
	float:center;
}

.edit_user {
	background-color: #FAFAFA;
	border: none;
	display: block;
	padding: 10px;
	text-decoration: none;
}

.item:first-child .delete:before{
	background:url('../img/tooltip.png') no-repeat;
	content:'.';
	text-indent:-9999px;
	overflow:hidden;
	height:90px;
	position:absolute;
	right:-110px;
	top:-95px;
	float:center;
	font:20px;
}
.item a img{
	display:block;
	border:none;
}
.add_comment {
  color: white;
  width: 90px;
  height:25px;
  background:#3e97d1;
  position:fixed;
  left:860px;
  top:340px;
   -moz-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg); 
  -o-transform: rotate(90deg);   
}

#input_role {
  margin-top:20px;
  color: white;
  height:25px;
  background:#3e97d1;  
}

.regform {
text-align: center;
}

.menu{
padding:7px;
text-align: center;
}
.menu a{
background-color:#dbdbdb;
padding:3px;
}
.menu a:hover{
color:orange;
}

